.card-content {
    padding: 10px;
    text-align: center;
  }
  
  .card-title {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container-detail .card-price {
      text-align: left;
      margin: 10px 0px 15px;
      font-size: 22px;
      font-weight: 400;
  }
  .card-category{
    background:#252525;
    color: #fff;
    margin: auto;
    padding: 6px 20px;
    border-radius: 30px;
  }
  a.cart-btn {
    margin-top: 20px;
    background: #fff;
    margin: auto;
    margin-top: 20px;
    color: #000;
    padding: 10px 30px;
    border: 1px solid #000;
}

a.cart-btn:hover{
    background-color: #000;
    color: #fff;
    transition: .3s ease-in-out;
}

.container-detail h4 {
  text-align: left;
  font-size: 40px;
  font-weight: 800;
}

.container-detail {
  padding-right: 12%;
}

p.card-descripcion {
  color: #999;
  font-weight: 400;
}

.card-colores{
  margin: 20px 0;
  display: flex;
}

button#Silver {
  background: silver;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: silver;
  margin-right: 10px;
  font-size: 0px;
  box-shadow: 0px 0px 12px 0px #fff;
}
button#RoseGold {
  background: #FDDCD7;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: #FDDCD7;
  margin-right: 10px;
  font-size: 0px;
  box-shadow: 0px 0px 12px 0px #fff;
}
button#Blue {
  background: #00346c;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: #00346c;
  font-size: 0px;
  margin-right: 10px;
  box-shadow: 0px 0px 12px 0px #fff;
}
button#Black {
  background: #000;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: #000;
  font-size: 0px;
  margin-right: 10px;
  box-shadow: 0px 0px 12px 0px #fff;
}
.imgDetail {
  object-fit: cover;
}